h1 {
    color: #2F80ED;
    font-family: Nunito;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
}

.left-text {
    text-align: left;
    font-family: Nunito;
}
button {
    background-color: #2F80ED;
    color: white;
    float: left;
    width: 80%;
    height: 6em;
    border-radius: 30px;
    transition: transform 0.1s;
}
button:hover {
    color: white;
    opacity: 90%;
    transform: scale(1.02);
}
.left-container {
    margin-left: 8%;
}